body{
    background-color: #E6746C;
}

#about-me{
	background-color: #E6D583;
	padding: 20px;
	max-width: 500px;
	margin: auto;
}
.header{
	text-align: center;
}
.container{
	
}

.name{
    font: 300 2.5rem 'Josefin Sans', sans-serif;
}

.foto-de-perfil{
	width: 150px;
	border-radius: 50%;
}

.description{
    font: italic 300 1rem 'Josefin Sans', sans-serif;
}

strong{
	color: #E65F55;
}