body{
  background-color: #E6746C;
	font-family: 'Josefin Sans', sans-serif ;	
}

#about-me{
	background-color: #E6D583;
	padding: 20px;
	max-width: 500px;
	margin: auto;
}
.header{
	text-align: center;
}
.container{
	background-color: #E65F55;
}

.name{
	font-weight: 300;
	font-size: 2.5rem;
}

.foto-de-perfil{
	width: 150px;
	border-radius: 50%;
}

.description{
	font-size:  1rem ;
	font-weight: 300;
}



